/* BODY */

body {
    
    height: auto;
}

/* CONTAINER */


/* HEADER */

/* NAVBAR */

/* SECTION */

.section {
    position: relative;
    display: inline-block;
}

.section img {
    height: 250px;
    width: 350px;
    margin-left: 80px;
    border-radius: 40px;
    border: 10px solid green;
}

.texte_section {
    position: absolute;
    width: 350px;
    height: 81px;
    margin-left: 90px;
    margin-top: -85px;
    font-size: 20px;
    text-align: center;
    background-color: dimgrey;
    opacity: 0.8;
    color: white;
    border-radius: 0px 0px 40px 40px;
}

.section_haut {
    margin-top: 40px;
}

.section_bas {
    margin-top: 40px;
}

a {
    text-decoration: none;
}
    

/* FOOTER */

.cont_footer {
    height: auto;
    margin: 0 auto;
    background-color: dimgrey; 
}

.texte_footer {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-left: 280px; 
}

.texte_footer ul{
    text-decoration: none;
    list-style: none;
    padding-top: 15px;
}

.cont_infos {
    width: 100%;
}

.mentions {
    display: inline-block;
}

.design {
    display: inline-block;
    float: right;
}
