/* BODY */

body {
    
}

/* CONTAINER */


/* HEADER */
.nav {
    margin-top: 5px;
    height: 65px;
}

.navbar-brand > img {
    width: 100px;
    margin-top: -10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #76be41;
} 

.nav-pills a {
    margin-top: 10px;
    margin-left: 25px;
}

.nav > li > a {
    color: #76be41;
}






/* SECTION */

.bandeau {
    margin-top: 70px;
    background-image: url("../images/bandeau_gazon.jpg");
    background-size: cover;
    height: 250px;
    width: auto;
    opacity: 0.9;
}

.texte_bienvenue {
    padding-top: 30px;
    width : 50%;
    color: white;
    text-decoration: 
}

.texte_bienvenue h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.liste_descriptif {
    width: 50%;
}

.texte_bienvenue p {
    font-size: 20px;
    text-align: center;
}

.section {
    margin-top: 20px;
}

.row {
    margin-top: 10px;
}

.texte_section h2{
    font-size: 20px;
    color: #76be41;
    text-align: center;
}

.thumbnail {
    border-radius: 20px;
    border: 2px solid grey;
}

a.thumbnail:hover {
    border: 2px solid #76be41;
}

.thumbnail img {
    border-radius: 20px 20px 0px 0px;
}
/* FOOTER */
.img-responsive {
    width: 40px;
}

.center-pills {
    display: inline-block;
}

.footer nav-pills a{
    margin-left: 50px;
}
